main .success {
  position: absolute;
  width: 15%;
  left: 42.5%;
  top: 95px;
  color: white;
  font-weight: 600;
  background-color: green;
  text-align: center;
  padding: 0.5rem 0;
  filter: opacity(1);
  transition: all 1.5s;
}

main .hide {
  filter: opacity(0);
}

main .table-container {
  display: flex;
}

main .table-container .admin-sections {
  width: 25%;
  border: 2px solid #0282f9;
  border-left: 0;
}

main .table-container .admin-sections > div {
  padding: 2rem 1rem;
  border-bottom: 2px solid #0282f9;
}

main .table-container .admin-sections > div a {
  text-decoration: none;
  color: #0282f9;
  font-weight: 600;
}

main .table-container .table {
  width: 75%;
  padding: 2rem 5rem;
}

main .table-container .table .row {
  display: flex;
  border-bottom: 1px solid black;
}

main .table-container .table .row .delete-popup {
  z-index: 99;
  -webkit-backdrop-filter: brightness(0.5);
          backdrop-filter: brightness(0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  top: 0;
  left: 0;
}

main .table-container .table .row .delete-popup .content {
  position: relative;
  width: 50%;
  height: 50vh;
  left: 25%;
  top: 25vh;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2rem;
}

main .table-container .table .row .delete-popup .content .abort {
  position: absolute;
  top: 2rem;
  right: 2rem;
  color: white;
  background-color: crimson;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}

main .table-container .table .row .delete-popup .content input {
  position: absolute;
  width: calc(100% - 4rem);
  bottom: 2rem;
  left: 2rem;
  background-color: transparent;
  border: 2px solid #0282f9;
  border-radius: 10px;
  color: black;
  transition: all 0.3s;
  padding: 0.5rem 0;
  font-weight: 600;
  cursor: pointer;
}

main .table-container .table .row .delete-popup .content input:hover {
  background-color: #0282f9;
  color: white;
}

main .table-container .table .row .show {
  display: block !important;
}

main .table-container .table .row > div {
  width: calc(25% - 0.75rem);
  border-right: 1px solid black;
  padding: 0.5rem 0;
  padding-left: 5px;
}

main .table-container .table .row .id {
  width: 3rem;
  border-left: 1px solid black;
}

main .table-container .table .row .actions {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

main .table-container .table .row .actions form input {
  margin: 0 1rem;
  color: green;
  font-weight: 600;
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  font-size: 15px;
  cursor: pointer;
}

main .table-container .table .row .actions form:first-of-type input {
  color: black;
}

main .table-container .table .row .actions p {
  color: crimson;
  font-size: normal;
  text-decoration: underline;
  margin: 0 1rem;
  cursor: pointer;
}

main .table-container .table .row:first-of-type {
  border-top: 1px solid black;
}

main .pagination nav ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

main .pagination nav ul li {
  margin: 0 0.25rem;
  padding: 0.5rem;
  border-radius: 3px;
}

main .pagination nav ul li a {
  text-decoration: none;
  color: black;
}

main .pagination nav ul li:first-of-type,
main .pagination nav ul li:last-of-type {
  background-color: #0282f9;
  color: white;
  border: 0;
}

main .pagination nav ul li:first-of-type a,
main .pagination nav ul li:last-of-type a {
  color: white;
}

main .pagination nav ul .active {
  font-weight: 600;
  border: 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

main .new {
  text-align: center;
  margin: 2rem 0;
}

main .new a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  border: 2px solid #0282f9;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  transition: all 0.3s;
}

main .new a:hover {
  background-color: #0282f9;
  color: white;
}

